.body-background {
    background: url("./images/body.png") no-repeat center center;
    background-size: cover;
    height: 1000px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Override _grid.scss styles */
.row > * {
    /* Set width to auto or any other desired value */
    width: 28% !important;
  }
  